$darkblue: rgb(0, 48, 73);
$red: #ac193d;
$grey: rgb(73, 88, 103);
$midblue: rgb(69, 123, 157);
$orange: rgb(252, 163, 17);
$purple: rgb(107, 5, 167);
$cyan: rgb(46, 196, 182);
$yellow: rgb(240, 162, 52);
$white: rgb(255, 252, 246);
$black: black;
$lightgrey: rgb(245, 245, 245);
$lightgreen: rgb(4, 211, 4);
$lightred: rgb(255, 0, 0);

$vsDark: rgb(29, 29, 29);
$vsLight: rgb(110, 110, 110);
