$darkblue: rgb(0, 48, 73);
$red: rgb(214, 40, 40);
$lightred: rgb(230, 57, 70);
$lightblue: rgb(69, 123, 157);
$orange: rgb(252, 163, 17);
$purple: rgb(116, 0, 184);
$cyan: rgb(46, 196, 182);
$grey: rgb(73, 88, 103);
$yellow: rgb(236, 154, 41);
