@use 'colours';

.filter {
  margin: 3rem 0 3rem 0;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &-btn {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 500ms ease;
    opacity: 0.5;
    color: colours.$white;
    outline: none;

    &:hover {
      opacity: 1;
    }

    &.__active {
      font-weight: bolder;
      opacity: 1;
      transition: all 500ms ease;
    }

    &.theme_grey {
      color: colours.$yellow;
    }
    &.theme_orange {
      color: colours.$black;
    }
  }
}
