@use 'colours';

.filter {
  margin: 3rem 0 3rem 0;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &-btn {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 500ms ease;

    &.theme_darkblue {
      color: colours.$white;
      opacity: 0.5;

      &:hover {
        opacity: 1;
      }

      &.__active {
        font-weight: bolder;
        opacity: 1;
      }
    }
  }
}
