@use 'colours';

.filter {
  margin: 3rem 0 3rem 0;
  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
  }

  &-btn {
    margin: 1rem;
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    transition: all 500ms ease;

    &:hover {
      color: rgba(0, 0, 0, 1);
    }

    &.__active {
      color: rgba(0, 0, 0, 1);
      font-weight: bolder;
    }
  }
}
