@use 'colours';

.input-form {
  padding: 0;
  margin: 0 auto;

  .input-text {
    font-size: 2.5rem;
    width: 50rem;
    border: none;
    border-radius: 1rem;
    padding: 1rem 6rem 1rem 1rem;
    background: colours.$white;

    &:focus {
      outline: none;
    }
  }

  .fa-plus {
    font-size: 2.7rem;
    border: none;
  }

  .addBtn {
    border: none;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    margin-left: -5rem;
    margin-top: 1rem;
    padding-bottom: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: all 500ms ease;
    opacity: 0.85;

    &:hover {
      opacity: 1;
    }

    &.theme_darkmode {
      background: colours.$vsLight;
      color: colours.$white;
    }
    &.theme_darkblue,
    &.theme_red,
    &.theme_purple {
      background: colours.$grey;
      color: colours.$white;
    }
    &.theme_grey,
    &.theme_midblue {
      background: colours.$yellow;
      color: colours.$white;
    }
    &.theme_orange {
      background: colours.$black;
      color: colours.$orange;
    }
  }
}
