@use 'colours';

.themeSwitchSection {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  padding: 4rem;
  bottom: 0rem;
  left: 0;
  right: 0;
  max-width: 100vw;
  transition: all 500ms ease;

  &.theme_darkmode {
    background: colours.$vsDark;
  }
  &.theme_darkblue {
    background: colours.$darkblue;
  }
  &.theme_red {
    background: colours.$red;
  }
  &.theme_grey {
    background: colours.$grey;
  }
  &.theme_midblue {
    background: colours.$midblue;
  }
  &.theme_orange {
    background: colours.$orange;
  }
  &.theme_purple {
    background: colours.$purple;
  }

  .themeSwitchTitle {
    font-size: 2rem;
    transition: all 500ms ease;
    color: colours.$white;

    &.theme_orange {
      color: colours.$black;
    }
  }

  .themeSwitcher {
    display: flex;
    justify-content: center;
    div {
      width: 4rem;
      height: 4rem;
      margin: 1rem;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0.25rem 0.25rem;
      transition: all 250ms ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
      }
    }

    &__darkmode {
      background: colours.$vsDark;
    }
    &__darkblue {
      background: colours.$darkblue;
    }
    &__red {
      background: colours.$red;
    }
    &__grey {
      background: colours.$grey;
    }
    &__midblue {
      background: colours.$midblue;
    }
    &__orange {
      background: colours.$orange;
    }
    &__purple {
      background: colours.$purple;
    }
  }
}
