@use 'colours';
@use 'responsive';

.themeSwitchSection {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  transition: all 500ms ease;
  background: none;

  @include responsive.small-screen {
    left: 0;
    bottom: 0.5rem;
  }

  .menu_btn {
    // margin-top: 2rem;
    cursor: pointer;
    z-index: 100;

    .fa-palette {
      font-size: 5rem;
      color: colours.$white;
      transition: all 500ms ease;

      &:hover {
        transform: rotate(45deg);
      }

      &.theme_orange {
        color: colours.$black;
      }

      @include responsive.small-screen {
        font-size: 4rem;
      }
    }
  }

  .themeSwitcher {
    display: flex;
    padding-bottom: 2rem;
    width: 6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 500ms ease;
    overflow-y: hidden;
    overflow-x: visible;

    @include responsive.small-screen {
      padding-bottom: 1rem;
    }

    &.menu_open {
      div {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &.menu_closed {
      pointer-events: none;
      div {
        opacity: 0;
        transform: translateY(20rem);
      }
    }
    div {
      width: 4rem;
      height: 4rem;
      margin-top: 2rem;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0.25rem 0.25rem;
      transition: all 300ms ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.2);
      }

      @include responsive.small-screen {
        width: 3rem;
        height: 3rem;
        margin: 0.5rem;
      }
    }

    &__darkmode {
      background: colours.$vsDark;
    }
    &__darkblue {
      background: colours.$darkblue;
    }
    &__red {
      background: colours.$red;
    }
    &__grey {
      background: colours.$grey;
    }
    &__midblue {
      background: colours.$midblue;
    }
    &__orange {
      background: colours.$orange;
    }
    &__purple {
      background: colours.$purple;
    }
  }
}
