@use 'colours';

.toDoList {
  list-style-type: none;
  width: 50rem;
  margin: 0 auto;

  &__item {
    width: 100%;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.25);
    margin-bottom: 1rem;
    padding-left: 1rem;
    transition: all 500ms ease;

    &-title {
      margin-right: auto;
      margin-top: 1rem;
      text-align: left;
      max-width: 38rem;
      overflow-x: hidden;
      overflow-y: hidden;
      transition: all 500ms ease;
      line-height: 3rem;

      &.completed {
        color: rgba(0, 0, 0, 0.5);
      }
    }

    &-enter {
      opacity: 0;
      height: 0;
      transform: translateY(-1rem);
    }
    &-enter-active {
      opacity: 1;
      height: 5rem;
      transform: translateY(0);
    }
    &-enter-done {
      min-height: 5rem;
    }
    &-exit {
      opacity: 1;
      height: 5rem;
      transform: translateY(-1rem);
    }
    &-exit-active {
      opacity: 0;
      height: 0;
    }

    .btn-group {
      margin-right: 0.5rem;
      width: 10rem;
    }

    .viewBtn {
      height: 100%;
      width: 3rem;
      background: none;
      border: none;
      cursor: pointer;
      text-align: center;
      color: rgba(0, 0, 0, 0.25);
      transition: all 500ms ease;

      &.completed {
        color: green;

        &:hover {
          color: green;
        }
      }

      &.trash:hover {
        color: rgb(237, 8, 8);
      }

      &.edit:hover {
        color: rgb(225, 150, 10);
      }

      &:hover {
        color: rgba(0, 0, 0, 1);
        transform: scale(1.1);
      }

      i {
        font-size: 2rem;
      }
    }

    // EDIT VIEW
    form {
      margin-left: 0;
      width: 100%;
      display: flex;
      justify-content: flex-start;

      input {
        margin: 1.5rem 0 0 0;
        width: 40rem;
        outline: none;
        background: none;
        border: none;
        font-size: 2rem;
        height: 2rem;
        border-bottom: 1px solid black;
      }

      .btn-group {
        margin-left: 0.5rem;
        width: 10rem;
        display: flex;
        justify-content: flex-start;
      }

      .editBtn {
        height: 100%;
        width: 3rem;
        background: none;
        border: none;
        cursor: pointer;
        text-align: center;
        color: rgba(0, 0, 0, 0.25);
        transition: all 500ms ease;

        &:hover {
          color: rgba(0, 0, 0, 1);
          transform: scale(1.1);
        }

        i {
          font-size: 2rem;
        }

        &.cancel:hover {
          color: red;
        }

        &.submit:hover {
          color: green;
        }
      }
    }
  }
}
