@use 'colours';
@use 'inputForm';
@use 'filterButtons';
@use 'todo';

html {
  min-height: 100vh;
  font-size: 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  margin: 5rem 0 5rem 0;
  font-size: 3.5rem;
}

.App {
  background-color: hotpink;
  height: 100vh;
  position: absolute;
  width: 100vw;
}
