#input-form {
  padding: 0;
  margin: 0 auto;
}
#input-form input {
  font-size: 2.5rem;
  width: 50rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 6rem 1rem 1rem;
  background: rgba(0, 0, 0, 0.15);
}
#input-form input:focus {
  outline: none;
}
#input-form button {
  background: rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
  height: 5rem;
  width: 5rem;
  margin-left: -5rem;
  margin-top: 1rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
#input-form button:hover {
  color: black;
}
#input-form .fa-plus {
  font-size: 2.7rem;
  border: none;
}

.filter {
  margin: 3rem 0 3rem 0;
}
.filter ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.filter-btn {
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.filter-btn:hover {
  color: black;
}
.filter-btn.__active {
  color: black;
  font-weight: bolder;
}

.toDoList {
  list-style-type: none;
  width: 50rem;
  margin: 0 auto;
}
.toDoList__item {
  width: 100%;
  min-height: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 1rem;
  background: rgba(0, 0, 0, 0.25);
  margin-bottom: 1rem;
  padding-left: 1rem;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.toDoList__item-title {
  margin-right: auto;
  text-align: left;
  max-width: 38rem;
  overflow-x: hidden;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.toDoList__item-title.completed {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}
.toDoList__item .btn-group {
  margin-right: 0.5rem;
  width: 10rem;
}
.toDoList__item .viewBtn {
  height: 100%;
  width: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.toDoList__item .viewBtn.completed {
  color: green;
}
.toDoList__item .viewBtn.completed:hover {
  color: green;
}
.toDoList__item .viewBtn.trash:hover {
  color: #ed0808;
}
.toDoList__item .viewBtn.edit:hover {
  color: #e1960a;
}
.toDoList__item .viewBtn:hover {
  color: black;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.toDoList__item .viewBtn i {
  font-size: 2rem;
}
.toDoList__item form {
  margin-left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.toDoList__item form input {
  margin: 1.5rem 0 0 0;
  width: 40rem;
  outline: none;
  background: none;
  border: none;
  font-size: 2rem;
  height: 2rem;
  border-bottom: 1px solid black;
}
.toDoList__item form .btn-group {
  margin-left: 0.5rem;
  width: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.toDoList__item form .editBtn {
  height: 100%;
  width: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  text-align: center;
  color: rgba(0, 0, 0, 0.25);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}
.toDoList__item form .editBtn:hover {
  color: black;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.toDoList__item form .editBtn i {
  font-size: 2rem;
}
.toDoList__item form .editBtn.cancel:hover {
  color: red;
}
.toDoList__item form .editBtn.submit:hover {
  color: green;
}

html {
  min-height: 100vh;
  font-size: 10px;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#title {
  margin: 5rem 0 5rem 0;
  font-size: 3rem;
}